---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Goback from "../components/Goback.astro";
---

<Layout title="Dark Mode React">
  <Header />
  <main>
    <div class="container">
      <div class="title">
        <h1>A帽adir Dark Mode en tu p谩gina de React </h1>
      </div>
      <div class="text">
        <p>
          El modo oscuro ser铆a una excelente adici贸n a tu aplicaci贸n, ya que
          enriquecer铆a la experiencia del usuario. En esta ocasi贸n, te mostrar茅
          c贸mo implementarlo en React sin necesidad de utilizar ninguna librer铆a
          externa.
        </p>
      </div>
      <div class="tutorial-1">
        <h2>Primero creamos el proyecto.</h2>
        <p>
          Al proyecto lo llamaremos darkmode (le puedes poner el nombre que
          quieras).
        </p>
        <p class="terminal">npx create-react-app darkmode</p>
        <p>Una vez creado, navegamos al directorio que se acaba de crear.</p>
        <p class="terminal">cd darkmode</p>
        <p>Una vez dentro de la carpeta instalamos las dependencias.</p>
        <p class="terminal">npm install</p>
        <p>
          Ahora abrimos el proyecto en un editor de codigo (en este caso en VS
          Code)
        </p>
        <p class="terminal">code .</p>
      </div>
      <div class="tutorial-1">
        <h2>Primeros pasos.</h2>
        <p>En el archivo App.js vamos a crear un estado para el modo oscuro.</p>
        <p class="terminal">const [darkMode, setDarkMode] = useState(true);</p>
        <p>
          Luego, vamos a crear una funci贸n que nos permita cambiar el estado del
          modo oscuro.
        </p>
        <p class="terminal">
          {
            `const toggleDarkMode = () => {
            setDarkMode(!darkMode);
          }; `
          }
        </p>
        <p>
          Ahora vamos a crear un bot贸n que nos permita cambiar el estado del
          modo oscuro.
        </p>
        <p class="terminal">
          {`<button onClick={toggleDarkMode}>Toggle Dark Mode</button>`}
        </p>
        <p>
          A continuaci贸n, vamos a dar una clase al div principal con la clase
          "App" y una clase adicional "dark-mode" para que cuando le demos click
          al bot贸n cambie el estado a true.
        </p>
        <p class="terminal">
          {`<div className={\`App \${darkMode ? 'dark-mode' : ''}\`}>`}
          <p>
            Ahora vamos a crear una clase en el archivo App.css que nos permita
            cambiar el color de fondo y el color de la letra.
          </p>
          <p class="terminal">
            {
              `
          .dark-mode {
            background-color: #1e1e1e;
            color: white;
          }
          `
            }
          </p>
        </p>
      </div>
      <div class="tutorial-1">
        <p>
          Si hemos seguido los pasos correctamente, deber铆amos tener algo como
          esto:
        </p>
        <img src="/assets/appdarkmode.png" alt="darkmode" />
        <img src="/assets/appdarkmodecss.png" alt="darkmode" />
      </div>
      <div class="tutorial-1">
        <h2>Conclusi贸n</h2>
        <p>
          Como puedes ver, a帽adir el modo oscuro a tu aplicaci贸n de React es
          bastante sencillo. No necesitas de ninguna librer铆a externa para
          implementarlo. Si tienes alguna duda, no dudes en dejarme un
          comentario.
        </p>
        <img src="/assets/darkmodegif.gif" alt="darmodegif" />
      </div>
      <Goback />
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    padding-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }

  .container {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title {
    margin-bottom: 25px;
  }

  h1 {
    font-size: 3rem;
    line-height: 50px;
    font-weight: 600;
  }

  h2 {
    font-size: 2rem;
    padding-bottom: 20px;
    color: #ff6b6b;
  }

  .tutorial-1 {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .terminal {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 5px;
    border-radius: 12px;
  }

  img {
    width: 700px;
    border-radius: 5px;
    border-radius: 20px;
  }

  @media screen and (max-width: 1700px) {
    .container {
      width: 80%;
    }

    h1 {
      font-size: 3.5rem;
    }
  }
</style>
