---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Configuración VSCode">
  <Header />
  <main>
    <img src="/assets/proximamente.png" alt="coming" />
  </main>
</Layout>

<style>
  main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  h1 {
    font-size: 4rem;
    font-size: 800;
  }
</style>
