---
import Card from "./Card.astro";
---

<main>
  <div class="tkcoder">
    <h1>TkCoder</h1>
  </div>
  <div class="cards">
    <h1>Artículos</h1>
    <Card
      src="/assets/logoreact.png"
      title="Añadir Dark Mode en tu página de React"
      href="/dark-mode-react"
      body="Febrero de 2024"
    />

    <Card
      src="/assets/logovscode.png"
      title="Mi configuración de Visual Studio Code"
      href="/vscode-config"
      body="Febrero de 2024"
    />

    <Card
      src="/assets/jslogo.png"
      title="Crear menu hamburguesa para tu página"
      href="/hamburger-menu"
      body="Febrero de 2024"
    />

    <Card
      src="/assets/logovscode.png"
      title="Top 10 mejores extensiones para VSCode"
      href="/extensions-vscode"
      body="Febrero de 2024"
    />

    <Card
      src="/assets/windowslogo.png"
      title="Como instalar Oh-My-Posh en Windows"
      href="/instalar-oh-my-posh-windows"
      body="Febrero de 2024"
    />
  </div>
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    height: 100vh;
  }

  .tkcoder h1 {
    text-align: center;
    font-size: 6rem;
    padding-bottom: 30px;
    font-weight: 700;
    background: linear-gradient(90deg, #4fcaf0, #f70ae3);
    -webkit-background-clip: text;
    background-clip: text;
    color: #0000;
  }

  .cards h1 {
    font-size: 20px;
    font-weight: 500;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (max-width: 415px) {
    .tkcoder h1 {
      font-size: 5rem;
    }
  }
</style>
